<div>
    <h1 style="text-align: center">Invoices</h1>
    <table class="table table-hover">
        <tr>
            <th>User Name</th>
            <th>Item Name</th>
            <th>Size</th>
            <th>Color</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="x in products track by $index">
            <td>{{x.userName}}</td>
            <td>{{x.name}}</td>
            <td>{{x.productSize}}</td>
            <td>{{x.productColor}}</td>
            <td>{{x.quantity}}</td>
            <td>{{x.date}}</td>
            <td>{{x.perItemPrice}}</td>
            <td>{{x.total}}</td>
            <td ng-click="removeItems(x.id)" class="glyphicon glyphicon-remove"></td>
        </tr>
    </table>
</div>
